:root {
  --main-font: Verdana, sans-serif;
  --heading-font: "Amatic SC", cursive;
  --light-green: #caf181;
  --medium-green: #89cf2b;
  --dark-green: #2d7516;

  --base-color: #89cf2b;
  --primary-color: #2d7516;
  --black: #404a3d;
  --dark-gray: #333;
  --light-gray: #c5c9c4;
}

body {
  font-family: var(--main-font);
  color: var(--dark-gray);
  font-size: 16px;
  line-height: 34px;
  font-weight: 500;
  scroll-behavior: smooth;
}

button:focus {
  outline: none;
}

a {
  color: inherit;
}

a:active,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: var(--heading-font);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wow {
  visibility: hidden;
}

a.lb-close {
  display: none !important;
}
