@import "src/styles";

.clients {
  padding: 70px 0 40px;

  @include media("<md") {
    padding: 60px 0;
  }

  &__block-title {
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;

    @include media("<md") {
      margin-bottom: 25px;
    }

    p {
      color: var(--dark-gray);
      letter-spacing: 0.2em;
      font-size: 1rem;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      font-size: 4rem;
      color: var(--dark-green);
      font-weight: 700;
      line-height: 1.2;
    }
  }

  .carousel-item {
    .carousel-img {
      img {
        width: 150px;
        height: 150px;
        object-fit: contain;
        object-position: center;

        @include media("<md") {
          height: 150px;
        }
      }
    }
  }
}
