@import "src/styles";

.standards {
  padding: 60px 0;

  @include media("<md") {
    padding: 40px 0;
  }

  &__block-title {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;

    p {
      color: var(--dark-gray);
      letter-spacing: 0.2em;
      font-size: 1rem;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      font-size: 4rem;
      color: var(--dark-green);
      font-weight: 700;
      line-height: 1.2;

      @include media("<md") {
        font-size: 2rem;
      }
    }
  }

  &__points {
    p {
      position: relative;
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 12.5px;

      @include media("<md") {
        font-size: 1rem;
      }

      &::before {
        font-size: 2rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -20px;
        right: 0;
        font-weight: 600;
        color: var(--dark-green);
        content: "â™";

        @include media("<md") {
          display: none;
        }
      }
    }

    ul {
      margin-bottom: 10px;
      li {
        font-size: 1.2rem;
        list-style-type: circle;
        list-style-position: inside;

        @include media("<md") {
          font-size: 1rem;
        }
      }
    }
  }
}
