<div class="standards">
  <div class="container">
    <header class="standards__block-title wow fadeInUp" data-wow-delay="500ms">
      <p>{{ "HOME.STANDARDS.SMALL_HEADING" | translate }}</p>
      <h3>{{ "HOME.STANDARDS.BIG_HEADING" | translate }}</h3>
      <div class="leaf">
        <img src="assets/images/resources/leaf.png" alt="" />
      </div>
    </header>

    <section class="standards__points wow fadeInRight" data-wow-delay="600ms">
      <p>{{ "HOME.STANDARDS.PARAGRAPH_1" | translate }}</p>
      <p>{{ "HOME.STANDARDS.PARAGRAPH_2" | translate }}</p>
      <ul>
        <li>{{ "HOME.STANDARDS.POINT_1" | translate }}</li>
        <li>{{ "HOME.STANDARDS.POINT_2" | translate }}</li>
        <li>{{ "HOME.STANDARDS.POINT_3" | translate }}</li>
        <li>{{ "HOME.STANDARDS.POINT_4" | translate }}</li>
      </ul>
      <p>{{ "HOME.STANDARDS.PARAGRAPH_3" | translate }}</p>
      <p>{{ "HOME.STANDARDS.PARAGRAPH_4" | translate }}</p>
      <ul>
        <li>{{ "HOME.STANDARDS.POINT_5" | translate }}</li>
        <li>{{ "HOME.STANDARDS.POINT_6" | translate }}</li>
        <li>{{ "HOME.STANDARDS.POINT_7" | translate }}</li>
        <li>{{ "HOME.STANDARDS.POINT_8" | translate }}</li>
        <li>{{ "HOME.STANDARDS.POINT_9" | translate }}</li>
      </ul>
    </section>
  </div>
</div>
