@import "src/styles";

.introduction {
  padding: 70px 0 10px;

  &__block-title {
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;

    @include media("<md") {
      margin-bottom: 25px;
    }

    p {
      color: var(--dark-gray);
      letter-spacing: 0.2em;
      font-size: 1rem;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      font-size: 3.5rem;
      color: var(--dark-green);
      font-weight: 700;
      line-height: 1.2;
    }
  }

  &__paragraphs {
    article {
      position: relative;
      font-size: 1.2rem;
      letter-spacing: 1px;
      line-height: 1.6;
      color: var(--black);
      padding: 5px;

      &::before {
        font-size: 25px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -30px;
        right: 0;
        font-weight: 600;
        content: "â˜";
        color: var(--medium-green);

        @include media("<md") {
          display: none;
        }
      }
    }
  }
}
