@import "src/styles";

.experience {
  padding: 70px 0;
  background-color: rgba(#caf181, 0.5);

  @include media("<md") {
    padding: 40px 0;
  }

  h2 {
    font-size: 4rem;
    color: var(--dark-green);
    margin-bottom: 40px;
    text-align: center;

    @include media("<md") {
      font-size: 40px;
      text-align: center;
      line-height: 1.3;
      margin-bottom: 20px;
    }
  }

  p {
    position: relative;
    color: var(--black);
    font-size: 1.2rem;

    &::before {
      font-size: 1.2rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -30px;
      right: 0;
      font-weight: 600;
      content: "â˜";
      color: var(--dark-green);
    }

    @include media("<md") {
      font-size: 15px;
      line-height: 1.4;
    }
  }

  &__card {
    text-align: center;
    padding: 15px;
    background-color: var(--black);
    color: #fff;
    margin-top: 40px;

    @include media("<md") {
      margin-top: 20px;
    }

    h3 {
      letter-spacing: 1px;
      font-size: 22px;
      margin: 0;
      line-height: 1.5;

      @include media("<md") {
        font-size: 18px;
      }
    }

    fa-icon {
      color: var(--base-color);
      font-size: 40px;
      margin-bottom: 10px;
    }
  }
}
