@import "src/styles";

.objectives {
  padding: 70px;

  &__block-title {
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;

    @include media("<md") {
      margin-bottom: 25px;
    }

    p {
      color: var(--dark-gray);
      letter-spacing: 0.2em;
      font-size: 1rem;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      font-size: 4rem;
      color: var(--dark-green);
      font-weight: 700;
      line-height: 1.2;
    }
  }

  &__cards {
    article {
      position: relative;
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 10px;

      &:not(:first-of-type) {
        margin-top: 20px;
      }

      &::before {
        font-size: 2rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -40px;
        right: 0;
        font-weight: 600;
        color: var(--dark-green);
        content: "✔";
      }
    }
  }
}
