<div class="objectives">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
  >
    <div
      class="objectives__image wow fadeInLeft"
      data-wow-delay="500ms"
      fxFlex="45"
      fxLayout
      fxLayoutAlign="center center"
    >
      <img src="assets/images/resources/objectives_bg.jpg" alt="" />
    </div>
    <section fxFlex="45">
      <header
        class="objectives__block-title wow fadeInUp"
        data-wow-delay="600ms"
      >
        <p>{{ "HOME.OBJECTIVES.SMALL_HEADING" | translate }}</p>
        <h3>{{ "HOME.OBJECTIVES.BIG_HEADING" | translate }}</h3>
        <div class="leaf">
          <img src="assets/images/resources/leaf.png" alt="" />
        </div>
      </header>

      <section
        class="objectives__cards wow fadeInRight"
        data-wow-delay="600ms"
        fxLayout="column"
      >
        <article fxFlexAlign="start">
          {{ "HOME.OBJECTIVES.OBJECTIVE_1" | translate }}
        </article>
        <article>
          {{ "HOME.OBJECTIVES.OBJECTIVE_2" | translate }}
        </article>
        <article>
          {{ "HOME.OBJECTIVES.OBJECTIVE_3" | translate }}
        </article>
        <article>
          {{ "HOME.OBJECTIVES.OBJECTIVE_4" | translate }}
        </article>
        <article>
          {{ "HOME.OBJECTIVES.OBJECTIVE_5" | translate }}
        </article>
      </section>
    </section>
  </div>
</div>
