@import "src/styles";

.objectives {
  padding: 70px 0;

  @include media("<md") {
    padding: 20px 0;
  }

  &__image {
    img {
      border-radius: 15px;
      border: 2px solid var(--medium-green);
      padding: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__block-title {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;

    @include media("<md") {
      margin-bottom: 25px;
    }

    p {
      color: var(--dark-gray);
      letter-spacing: 0.2em;
      font-size: 1rem;
      font-weight: 600;
    }

    h3 {
      font-size: 4rem;
      color: var(--dark-green);
      font-weight: 700;
      line-height: 1.2;

      @include media("<md") {
        font-size: 2rem;
      }
    }
  }

  &__cards {
    article {
      position: relative;
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 10px;

      @include media("<md") {
        font-size: 1rem;
      }

      &:not(:first-of-type) {
        margin-top: 10px;
      }

      &::before {
        font-size: 2rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -40px;
        right: 0;
        font-weight: 600;
        color: var(--dark-green);
        content: "✔";
        @include media("<md") {
          display: none;
        }
      }
    }
  }
}
