<div class="mission">
  <img src="assets/images/resources/mission.jpg" alt="" />
  <div class="container">
    <header class="mission__block-title">
      <p>{{ "HOME.MISSION.SMALL_HEADING" | translate }}</p>
      <h3>{{ "HOME.MISSION.BIG_HEADING" | translate }}</h3>
      <div class="leaf">
        <img src="assets/images/resources/leaf.png" alt="" />
      </div>
    </header>

    <article class="mission__paragraphs">
      <p>
        {{ "HOME.MISSION.PARAGRAPH_1" | translate }}
      </p>
      <p>
        {{ "HOME.MISSION.PARAGRAPH_2" | translate }}
      </p>
      <ul>
        <li>{{ "HOME.MISSION.POINT_1" | translate }}</li>
        <li>{{ "HOME.MISSION.POINT_2" | translate }}</li>
        <li>{{ "HOME.MISSION.POINT_3" | translate }}</li>
        <li>{{ "HOME.MISSION.POINT_4" | translate }}</li>
      </ul>
    </article>
  </div>
</div>
